<div id="mySidenav" class="sidenav" style="background-color: #1AC7AF"">
    <a href="javascript:void(0)" class="closebtn" ng-click="feedCtrl.closeNav()">&times;</a>
    <a href="#" style="color: white">Antiques</a>
    <a href="#" style="color: white">Appliances</a>
    <a href="#" style="color: white">Bikes</a>
    <a href="#" style="color: white">Boats</a>
    <a href="#" style="color: white">Cars</a>
    <a href="#" style="color: white">Books</a>
    <a href="#" style="color: white">Phones</a>
    <a href="#" style="color: white">LightSaber</a>
    <a href="#" style="color: white">Trailers</a>
    <a href="#" style="color: white">Video Games</a>
    <a href="#" style="color: white">Electronics</a>
    <a href="#" style="color: white">Wanted</a>
    <a href="#" style="color: white">Other</a>
</div>
<!-- Use any element to open the sidenav -->
<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">
    <div class="container">
        <button class="btn btn-primary" ng-click="feedCtrl.openNav()" style="background-color: #EA6100">Filter</button>
        <br>
        <br>
        <div>
            <div class="input-group">
                <span class="input-group-addon">
                <i class="fa fa-search"></i>
            </span>
                <input type="text" class="form-control" placeholder="Search for any item...">
                <span class="input-group-btn">
                <button class="btn btn-primary" type="button" style="background-color: #EA6100">Go!</button>
            </span>
            </div>
        </div>
        <br>
        <p>Displaying {{feedCtrl.products.count}} products</p>
        <div class="row">
            <div ui-sref="productdetail({id:{{product.productId}}})" style="cursor:pointer" ng-repeat="product in feedCtrl.products.products" class="col-md-4">
                <div class="panel panel panel-info">
                    <div class="panel-heading">{{product.name}}</div>
                    <div class="panel-body">
                        <div class="gallery-container">
                            <p class="lead text-center" ng-hide="product.photos.length">No Images for this Product</p>
                            <img ng-repeat="photo in product.photos" ng-src="{{photo.url}}" alt="">
                        </div>
                    </div>
                    <div class="panel-footer">{{product.amount | currency}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
